.header{
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 200; /* Z-index was used on the header to avoid the main content floating over the header when scrolling */
}
@media (max-width: 359px){
  .header{
    display: none;
  }
}
.left-section, .middle-section, .right-section{
  display: flex;
  align-items: center;
}
.left-section{
  margin-left: 1.88vw;
}
.middle-section{
  flex: 1; /* flex and max-width properties are responsible for the responsiveness and proper function of the search bar */
  margin-left: 5.51vw;
  margin-right: 2.75vw; 
  max-width: 630px;
}
.right-section{
  max-width: 140px;
  margin-right: 2.36vw;
  justify-content: space-between;
  flex-shrink: 0; /* Flex-shrink property was used to prevent the section elements from resizing as the viewer resizes the window*/
}
.youtube-logo{
  height: 20px;
  object-fit: cover;
  cursor: pointer;
  margin-left: 1.88vw;
}
.hamburger-menu-container, .search-button, .voice-search-button, .upload-icon-container, .notifications-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-button, .voice-search-button, .upload-icon-container, .notifications-icon-container{
  position: relative; /* To align the tooltips properly, the "position: absolute inside position: relative" technique was used */
}
.search-button .tooltip, .voice-search-button .tooltip, .upload-icon-container .tooltip, .notifications-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 0.64vh 0.62vw;
  border-radius: 2px;
  font-size: 0.75rem;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip, .voice-search-button:hover .tooltip, .upload-icon-container:hover .tooltip, .notifications-icon-container:hover .tooltip{
  opacity: 1;
}
.search-button, .voice-search-button{
  height: 40px;
  background-color: rgb(240,240,240);
}
.search-button{
  width: 66px;
  height: 36px;
  border: 1px solid rgb(192,192,192);
  margin-right: 0.78vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 450px){
  .search-button{
    width: auto; /* Mobile responsive setting */
  }
  .left-section{
    margin-left: .5vw;
  }
}
.search-input{
  width: 0px;
  padding: 0;
  margin:0;
  border: none;
}
.voice-search-button{
  width: 40px;
  border-radius: 20px;
  border: none;
  transition: background-color 0.15s;
  background-color: white;
}
.hamburger-menu-container:hover, .voice-search-button:hover, .upload-icon-container:hover, .notifications-icon-container:hover{
  background-color: rgb(240,240,240);
  border-radius: 20px;
}
.voice-search-icon{
  height: 24px;
}
.search-bar{
  padding-left: 1.18vw;
  flex: 1;
  height: 36px;
  font-size: 1rem;
  border: 1px solid rgb(192,192,192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0; /* This property was used to make the search bar shrink as the viewer resizes the window all the way to 0px */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.search-icon, .hamburger-menu, .upload-icon, .notifications-icon{
  height: 24px;
}
.hamburger-menu, .upload-icon, .notifications-icon{
  padding: 8px;
  transition: background-color 0.15s;
}
.notifications-count{
  position: absolute; /* The tooltip alignment technique mentioned above was also used to align notifications-count as the notifications container is already position: relative */
  top: 4px;
  right: 1px;
  background-color: rgb(200,0,0);
  color: white;
  font-size: 0.6875rem;
  padding: 2px 5px;
  border-radius: 10px;
}
.current-user-picture{
  height: 32px;
  border-radius: 16px;
}