@media (max-width: 720px){
  .navbar{
   opacity: 0;
  }
}
@media (min-width: 720.01px){
  .navbar{
    opacity: 1;
  }
}
.navbar{
  height: 56px;
  position: fixed;
  top: 55px;
  left: 72px;
  right: 0;
  padding-right: 40px;
  padding-left: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: white;
}
.video-category{
  background-color: rgb(245, 245, 245);
  padding: 6px 14px;
  border-radius: 8px;
  transition: background-color 0.15s;
}
.video-category:hover{
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.video-category:active{
  background-color: black;
  color: white;
}