.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  padding-left: 3px;
}
@media (max-width: 789.99px){
  .sidebar{
    opacity: 0;
    width: 0;
  }
}
.sidebar-link{
  font-size: 0.6875rem;
  white-space: nowrap; /* This property was used to avoid YouTube Music element from wrapping text to the next line */
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 12px;
}
.sidebar img{
  height: 33%;
  margin-bottom: 6px;
}